<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojos</title>
</head>
<body>
    <div class="d-flex justify-content-around">
        <form action="/create/dojo" method="post" class="col-4 p-5 my-4 bg-dark text-light">
            <h2 class="text-center text-primary">New Dojo</h2>
            <div class="form-group">
                <label for="name">Name :</label>
            <input type="text" name="name" id="name" class="form-control">
            </div>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
        <div class="col-4 p-5 my-4 bg-dark text-light">
            <h2 class="text-center text-primary">All Dojos</h2>
            {% for dojo in dojos %}
            <p><a href="/dojos/{{dojo.id}}" class="text-warning">{{dojo.name}}</a></p>
            {% endfor %}
        </div>
    </div>
    <a href="/ninjas" class="text-center mx-auto">Add Ninjas</a>
</body>
</html>