<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/progress" method="post" class="bg-dark col-6 mx-auto p-5 text-primary rounded">
        <h2 class="text-warning">Dojo Survey</h2>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="dojo">Dojo Location</label>
            <select name="location" id="location" class="form-control">
                <option value="">---Select One---</option>
                <option value="Chicago">Chicago</option>
                <option value="Los Angelos">Los Angelos</option>
                <option value="Texas">Texas</option>
                <option value="Las Vegas">Las Vegas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fav_lang">Favorite Language</label>
            <select name="language" id="language" class="form-control">
                <option value="">---Select One---</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JS">JS</option>
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Comments</label>
            <textarea name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</body>
</html>