<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Book</title>
</head>
<body>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="col-6">
            <h2 class="text-center"> Title: {{book.title}}</h2>
            <p>Favorited by :</p>
            {% for author in book.authors  %}
            <p>{{author.full_name}}</p>
            {% endfor %}
        </div>
        <form action="/join/author" method="post" class="col-6">
            <h2 class="text-info">Add Author's favorite</h2>
            <input type="hidden" name="book_id" value="{{book.id}}">
            <div class="form-group">
                <label for="author_id">Author :</label>
                <select name="author_id" id="author_id" class="form-control">
                    {% for author in unfavorited_authors %}
                    <option value="{{author.id}}">{{author.full_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Add Author" class="btn btn-primary">
            
        </form>
    </div>
</body>
</html>